---
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: link-west-pushsecret
  namespace: west
spec:
  data:
    - conversionStrategy: None
      match:
        remoteRef:
          remoteKey: pushsecrets/ca_crt
          property: ca.crt
        secretKey: ca.crt
    - conversionStrategy: None
      match:
        remoteRef:
          remoteKey: pushsecrets/tls_crt
          property: tls.crt
        secretKey: tls.crt
    - conversionStrategy: None
      match:
        remoteRef:
          remoteKey: pushsecrets/tls_key
          property: tls.key
        secretKey: tls.key
  deletionPolicy: Delete
  refreshInterval: 10s
  secretStoreRefs:
    - kind: ClusterSecretStore
      name: vault-backend
  selector:
    secret:
      name: west-site-cert
  updatePolicy: Replace