---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: skupper-frontend
  name: skupper-frontend
  namespace: west
spec:
  ports:
  - name: 8080-tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: frontend
  sessionAffinity: None
  type: ClusterIP