---
apiVersion: "external-secrets.io/v1beta1"
kind: ExternalSecret
metadata:
  name: west-site-cert-externalsecret
  namespace: east
spec:
  refreshInterval: 15s
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: west-site-cert
    template:
      type: kubernetes.io/tls
      engineVersion: v2
      data:
        ca.crt: "{{ `{{ .ca_crt }}` }}"
        tls.crt: "{{ `{{ .tls_crt }}` }}"
        tls.key: "{{ `{{ .tls_key }}` }}"
  data:
  - secretKey: ca_crt
    remoteRef:
      key: "pushsecrets/ca_crt"
      property: "ca.crt"
  - secretKey: tls_crt
    remoteRef:
      key: "pushsecrets/tls_crt"
      property: "tls.crt"
  - secretKey: tls_key
    remoteRef:
      key: "pushsecrets/tls_key"
      property: "tls.key"